.element__trash{
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  background: url(../../../images/Trash.svg) center no-repeat;
  background-size: cover;
  flex-shrink: 0;
  cursor: pointer;
  height: 19px;
  width: 18px;
  opacity: 1;
  padding: 0;
  transition: opacity 0.5s;
}

.element__trash:hover {
  opacity: 0.5;
}
