.header{
  box-sizing: border-box;
  padding: 45px 0 41px;
  max-width: 880px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header{
    max-width: 600px;
  }
}

@media screen and (max-width: 767px) {
  .header{
    padding: 28px 0 25px;
  }
}